body {
	background: rgb(170, 166, 226);
	background: linear-gradient(
		90deg,
		rgba(170, 166, 226, 1) 0%,
		rgba(53, 186, 154, 1) 47%,
		rgba(113, 241, 255, 1) 95%
	);
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
	font-family: sans-serif;
}

.App {
	text-align: center;
}
