.buttonWrapper {
	position: relative;
	margin-top: 10px;
	align-items: center;
	align-content: center;
	text-align: center;
	left: 41%;
}
.form {
	position: relative;
	left: -2%;
}
.editMovie {
	position: relative;
	left: -2.5%;
}
